# ignore RWR scaffold
webpack.config.js
karma.conf.js
app/react/node_server.js
webpack/

# ignore webpack bundle
app/assets/javascripts/react_bundle.js

# ignore sprockets config files
app/assets/config/manifest.js
app/assets/javascripts/application.js

# ignore vendor js
vendor/assets/javascripts/
