# ----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails-composer/blob/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails-composer/issues
# ----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# various artifacts
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
.zeus.sock

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Environment files that may contain sensitive data
.env
.powenv

# tilde files are usually backup files from a text editor
*~

# Ignore Byebug command history file.
.byebug_history

# Ignore pow environment settings
.powenv

# Ignore npm error logs
npm-debug.log

# Ignore OS X system files
.DS_Store*

# Linux trash folder which might appear on any partition or disk
.Trash-*

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# ignore postgres logs
logfile

/config/secrets.yml
/config/database.yml

/node_modules

# webpack bundle
/public/assets
/app/assets/javascripts/react_bundle.js
/app/assets/javascripts/react_bundle.js.map
/app/assets/stylesheets/react_bundle.css
/app/assets/stylesheets/react_bundle.css.map

# ignore tests coverage scaffold
/app/react/tests/coverage

webpack_stats.json
