@import "app/react/config/app_settings";

.main-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}
