/* index.scss */

@import "app/react/config/app_settings";

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
  font-family: $default-font;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: inherit;
  color: inherit;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $default-font;
}

p {
  margin-bottom: 20px;
  font-family: $default-font;
}

ul,
ol {
  font-size: inherit;
  margin-left: 1.3rem;
  margin-bottom: 0;
}

select {
  height: auto;
}

textarea {
  max-width: 100%;
  overflow: hidden !important;
}

iframe {
  display: block;
  max-width: 100%;
  border: none;
}

video {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[disabled] {
  opacity: 0.5 !important;
  pointer-events: none;
}
